.primary {
    background-color: rgb(27, 134, 241);
    outline: none;
    color: white;
    font-size: large;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    user-select: none;
    border-radius: 10px;
    width: 100%;

    &:active {
        background-color: rgb(22, 109, 196);
    }

    &:hover {
        background-color: rgb(53, 130, 208);
    }
}

.secondary {
    outline: none;
    background-color: transparent;
    color: rgb(27, 134, 241);
    font-size: large;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    user-select: none;
    border-radius: 10px;

    &:active {
        background-color: rgb(22, 109, 196);
    }

    &:hover {
        background-color: rgba(68, 162, 255, 0.22);
    }
}
.signinbtn{
    font-size: large;
}