.forminput {
    border: 2px solid dodgerblue;
    padding-top: .35rem;
    padding-bottom: .35rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 5px;
    position: relative;
    width: 100%;

    &:hover {
        border: 2px solid rgb(27, 126, 212);

    }

    &:focus:valid {
        outline: none;
        border: 2px solid rgb(19, 102, 174);
    }

    &:focus:invalid {
        border: 2px solid red;
        outline: none;
    }
}

.searchInput {
    background-color: #f0f5ff;
    padding: .7rem .5rem;
    border-radius: 5px;
    position: relative;
    width: 100%;
    font-size: large;
    outline: none;
    border: none;

    &:focus {
        outline: none;
        border: 2px solid rgb(19, 102, 174);
        outline: none;
        border: none;
    
    }
}