.login-main {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 2rem;
    border-radius: 20px;
}

#reg-text {
    margin-top: 1.3rem;
    margin-bottom: .4rem;
}

.btn-container {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
}

.border-div {
    margin: auto;
    margin-top: 2rem;
    position: relative;
    border-top: 2px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;

    .or-text {
        position: absolute;
        top: -16px;
        background-color: white;
        left: 41%;
        padding: 5px;
        color: gray;
    }
}

.checkBox-container {
    display: flex;
    justify-content: space-between;
    user-select: none;
    color: dodgerblue;
    font-weight: 500;

    label {
        cursor: pointer;
    }

    input[type="checkbox"]{
        scale: 1.5;
        outline: none;
        border: 1px solid dodgerblue;
    }
}