.login-main {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all  300ms ease-in-out;
}

.input-container {
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 0 30px 15px rgba(66, 66, 66, 0.062);
}

#reg-text {
    margin-top: 1.1rem;
    margin-bottom: .4rem;
}

.btn-container {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
}

.border-div {
    margin: auto;
    margin-top: 2rem;
    position: relative;
    border-top: 2px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;

    .or-text {
        position: absolute;
        top: -16px;
        background-color: white;
        left: 41%;
        padding: 5px;
        color: gray;
    }
}

.checkBox-container {
    display: flex;
    justify-content: space-between;
    user-select: none;
    color: dodgerblue;
    font-weight: 500;

    label {
        cursor: pointer;
    }

    input[type="checkbox"] {
        scale: 1.5;
        outline: none;
        border: 1px solid dodgerblue;
    }
}

.invalid {
    border: 2px solid red;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-5px);
    }

    40%,
    80% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.3s ease;
}